<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <nav
      class="navbar is-link title is-4"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/certificate.svg" />
          <span class="ml-2"> <%= title %> </span>
        </a>
      </div>
      <div class="navbar-end">
        <button class="button is-link is-large">Register</button>
        <button class="button is-link is-large">Login</button>
      </div>
    </nav>
    <section class="section">
      <div class="container has-text-centered">
        <img src="/certificate.svg" width="256" />
        <h3 class="title is-4">Search Certificate Details</h3>
        <form class="field is-grouped mt-6">
          <input
            class="input is-large mr-4"
            type="text"
            id="certificateID"
            name="certificateID"
            placeholder="Enter Certificate ID"
          />
          <div class="control">
            <button class="button is-link is-large">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
